/* Gneral */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Montserrat';
}

/* Amalfi */

#amalfi {
  position: relative;
  background-image: url(img/amalfi.jpg);
  width: 90%;
  height: 90%;
  left: 50%;
  transform: translate(-50%, 10%);
}

#amalfi-txt {
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  font-size: 200%;
  font-weight: 300;

}

.amalfi-laoverly {
  background-color: rgba(0, 0, 0, 0.37);
  width: 100%;
  height: 100%;
}

/* Venezia */

#venezia  {
  position: relative;
  background-image: url(img/venezia.jpg);
  width: 90%;
  height: 90%;
  left: 50%;
  transform: translate(-50%, 10%);
  margin-top: 3%;
}

#venezia-txt {
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  font-size: 200%;
  font-weight: 300;
}

.venezia-laoverly {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
}

/* Castelmezzano */

#castelmezzano  {
  position: relative;
  background-image: url(img/castelmezzano.jpg);
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 90%;
  left: 50%;
  transform: translate(-50%, 10%);
  margin-top: 3%;
}

#castelmezzano-txt {
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  font-size: 200%;
  font-weight: 300;
}

.castelmezzano-laoverly {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
}
