/* General */
* {
  box-sizing: border-box;
  height: 100vh;
}


/* Amalfi */
#amalfi {
  /* Dimensione */
  height: 90%;
  width: 90%;
  /* Posizonamento Contenitore */
  position: relative;
  left: 50%;
  transform: translate(-50%, 5%);
  /* Contenuto */
  background-image: url(img/amalfi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid black;
  text-transform: uppercase;
}

/* Venezia */
#venezia {
  /* Dimensone */
  height: 90%;
  width: 90%;
  margin-top: 5%;
  /* Posizionamento */
  position: relative;
  left: 50%;
  transform: translate(-50%, 5%);
  /* Contenuto */
  background-image: url(img/venezia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid black;
  text-transform: uppercase;
}

/* Castelmezzano */
#castelmezzano {
  /* Dimensone */
  height: 90%;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  /* Posizionamento */
  position: relative;
  left: 50%;
  transform: translate(-50%, 5%);
  /* Contenuto */
  background-image: url(img/castelmezzano.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid black;
  text-transform: uppercase;
}

/* layer 2 */
.layer-2 {
  /* Dimensione */
  height: 100%;
  /* Contenuto */
  background-color: rgba(0, 0, 0, 0.4);
}

/* Testo immagini */
.txt {
  /* Dimensone span */
  height: auto;
  /* Posizione testo */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Formattazione testo */
  color: white;
  font-size: 300%;
  font-family: 'Montserrat';
  font-weight: lighter;
  text-decoration: underline;
}

/* Footer */
.footer {
  /*Dimensone  */
  height: 0px;
  /* Posizione */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* Contenuto */
  border-top: 3px solid red;
}

/* Hover */
.txt:hover {
  color: rgba(255, 77, 77, 0.7);
}
